[tool.pytest.ini_options]
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "function"

[tool.mypy]
python_version = "3.12"
pretty = true
strict = true

# Extra checks that aren't included in --strict
enable_error_code = "ignore-without-code,redundant-expr,truthy-iterable"
extra_checks = true
warn_unreachable = true

exclude = [
  "^tests/test_release_tag.py$",
  "^tests/test_run_release.py$",
  "^tests/test_sbom.py$",
  "^windows-release/purge.py$",
]
