--only-binary :all:
# grapheme doesn't have a binary release, but alive_progress
# requires grapheme==0.6.0.
--no-binary grapheme

paramiko
alive_progress
python-gnupg
aiohttp
blurb>=1.2.1
sigstore>=3
