name: Lint

on: [push, pull_request, workflow_dispatch]

permissions: {}

env:
  FORCE_COLOR: 1
  RUFF_OUTPUT_FORMAT: github

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2
        with:
          persist-credentials: false
      - uses: actions/setup-python@v6.2.0
        with:
          python-version: "3.x"
          cache: pip
      - uses: j178/prek-action@91fd7d7cf70ae1dee9f4f44e7dfa5d1073fe6623 # v1.0.11

      - name: Install dependencies
        run: |
          python3 -m pip install -U pip
          python3 -m pip install -U tox

      - name: Mypy
        run: tox -e mypy

      - name: Run PSScriptAnalyzer on PowerShell scripts
        shell: pwsh
        run: |
          Invoke-ScriptAnalyzer -Path . -Recurse -Severity ParseError,Error -EnableExit
