name: Lint

on: [push, pull_request, workflow_dispatch]

env:
  FORCE_COLOR: 1

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
          cache: pip
      - uses: pre-commit/action@v3.0.1

      - name: Install dependencies
        run: |
          python3 -m pip install -U pip
          python3 -m pip install -U tox

      - name: Mypy
        run: tox -e mypy

      - name: Run PSScriptAnalyzer on PowerShell scripts
        shell: pwsh
        run: |
          Invoke-ScriptAnalyzer -Path . -Recurse -Severity ParseError,Error -EnableExit
